@tailwind base;
@tailwind components;
@tailwind utilities;

.pulsating {
  transform: scale(1);
  animation: pulsating 2s infinite;
  border-radius: 50%;

  background: rgba(255, 0, 0, 1);
  box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
}

@keyframes pulsating {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.loader {
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line {
  position: relative;
}

.line::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: -16px;
  background-color: #273243;
}
